body {
    display: grid;
    margin: 0;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

#header {
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    height: 50px;
}

#logo {
    display: flex;
    flex-direction: row;
    user-select: none;
}

#logo:hover {
    cursor: pointer;
}

#navbar {
    display: inline;
}

#footer {
    display: flex;
    margin-top: auto;
    justify-content: center;
}

#body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-botones {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    min-width: 500px;
    min-height: 100%;
    width: 100%;
}

.left-btns, .rg-btns {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    min-height: 100%;
}

.btn {
    height: 100px;
    max-width: 30%;
    min-width: 200px;
}

