{{#partial "usuario"}}
    <p>{{usuario}}</p>
{{/partial}}

{{#partial "content"}}
     <h2 class="titulo">Composición de HC del Sector</h2>
        <form id="composicion" method="get" action="/home/composicion-hc/grafico" class="flex-clm form-evo-hc">
            <h3>Ingrese el intervalo a consultar</h3>
            <label for="inicio">
                Inicio
                <input type="month" id="inicio" name="inicio" max="2022-12"/>
            </label>
            <label for="fin">
                Fin
                <input type="month" id="fin" name="fin" max="2022-12"/>
            </label>
            <button form="composicion" type="submit" class="btn">
                Consultar
            </button>
        </form>
{{/partial}}

{{>agente-home-iniciado-sesion.hbs}}