<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Tp Anual</title>
    <link rel="stylesheet" href="/styles.css">
      <link rel="icon" type="image/png" href="/user.svg"/>
    {{#block "script"}}
    {{/block}}
  </head>

  <body>
    <header class="flex-between">
        <a href="/" class="flex-between">
          <img src="/logo.svg" alt="Logo de la Pagina">
          <h1>Impacto Ambiental</h1>
        </a>
        <nav>
            <a href="/home/composicion-hc" class="seccion active">Compocicion Hc del Sector</a>
                <a href="/home/evolucion-hc" class="seccion">Evolución HC del Sector</a>
                <a href="/home/hc-total" class="seccion">HC Total</a>
                <a href="/home/organizaciones" class="seccion ">Organizaciones</a>
        </nav>
        <div class="white-button">
            <img src="/user.png" alt="Icono de Persona"></img>
            <form action="/signout" method="POST">
                <button type="submit">Salir</button>
            </form>
        </div>
    </header>
        <div id="main-section">
            {{#block "content"}}
            {{/block}}
        </div>
    <footer class="flex-center">
      <p>Test</p>
    </footer>
  </body>
</html>
