{{#partial "navbar-options"}}
    <a class="seccion" href="/home/vinculaciones">Gestionar Vinculaciones</a>
{{/partial}}

{{#partial "content"}}
    <h2>Solicitudes</h2>
    <div id="tarjetas">
        {{#each solicitudes}}
            <div class="tarjeta">
                <div class="header-tarjeta">
                    <h3>{{miembroSolicitante.nombre}} {{miembroSolicitante.apellido}}</h3>
                    <h3>{{sectorSolicitado.nombre}}</h3>
                </div>
                <form action="/home/vinculaciones/{{miembroSolicitante.id}}" method="POST">
                    <button type="submit" formaction="#">
                        <img src="/check-accept.svg" alt="x">
                    </button>
                    <button type="submit" formaction="#">
                        <img src="/x-delete.svg" alt="J">
                    </button>
                 </form>
            </div>
        {{/each}}
    </div>
{{/partial}}

{{>home-iniciado-sesion.hbs}}