{{#partial "navbar-options"}}
    <div class="below-buttons">
        <a class="option-button" href="/home/vinculaciones">
            GestionarVinculaciones
        </a>
    </div>
{{/partial}}

{{#partial "content"}}
    {{#each}}
        <p>{{miembroSolicitante.nombre}}</p>
    {{/each}}
{{/partial}}

{{>home-iniciado-sesion.hbs}}