{{#partial "navbar-options"}}
    <div class="below-buttons">
        <a class="option-button" href="/home/vinculaciones">
            GestionarVinculaciones
        </a>
    </div>
{{/partial}}

{{#partial "content"}}
    <div id="lista-solicitudes">
        {{#each}}
            <div id="solicitud">
                <p>{{miembroSolicitante.nombre}}</p>
                <form action="/home/vinculaciones/{{miembroSolicitante.id}}" method="POST">
                    <button type="submit">Aceptar</button>
                </form>
                 <form action="/home/vinculaciones/{{miembroSolicitante.id}}" method="POST">
                     <button type="submit">Rechazar</button>
                 </form>
            </div>
        {{/each}}
    </div>
{{/partial}}

{{>home-iniciado-sesion.hbs}}