{{#partial "navbar-options"}}

{{/partial}}


{{#partial "usuario"}}
    <p>{{usuario}}</p>
{{/partial}}


{{#partial "content"}}
    <h2>Bienvenido Organizacion {{usuario}}</h2>
{{/partial}}

{{>home-iniciado-sesion.hbs}}