{{#partial "content"}}
    <h2>Bienvenido Miembro {{usuario}}</h2>
    <div class="below-buttons column">
        <a class="option-button" href="/recomendaciones">
                Recomendaciones
        </a>
        <a class="option-button" href="./vinculacion">
            Solicitar vinculacion
        </a>
        <a class="option-button" href="/home/trayectos">
                Trayectos
        </a>
    </div>

{{/partial}}

{{>home-iniciado-sesion.hbs}}