{{#partial "usuario"}}
    {{usuario}}
{{/partial}}
{{#partial "content"}}



    <div id="tarjetas">
        <div class="tarjetaRecomendacion">
            <h3>Trabajo remoto o teletrabajo</h3>
            <p>Esta recomendación propone fomentar el teletrabajo o el trabajo remoto para
                reducir la cantidad de desplazamientos en vehículo, ya sea a través de políticas
                de flexibilidad laboral o programas de trabajo remoto.</p>
        </div>
        <div class="tarjetaRecomendacion">
            <h3>Eficiencia energética en edificios y equipos</h3>
            <p>Esta recomendación se refiere a la implementación de medidas para reducir el consumo de energía
                en los edificios y equipos de la organización, como la instalación de sistemas de iluminación
                LED, el uso de sensores de movimiento y la optimización de los sistemas de climatización.</p>
        </div>
        <div class="tarjetaRecomendacion">
            <h3>Vehículos eléctricos o de bajas emisiones</h3>
            <p>Se recomienda promover el uso de vehículos eléctricos o de bajas emisiones
                en la flotilla de vehículos de la organización, ya sea a través de
                de compra o alquiler, o incentivos para los empleados que usen este tipo de vehículos.</p>
        </div>
        <div class="tarjetaRecomendacion">
            <h3>Gestión sostenible de residuos y producción de alimentos </h3>
            <p>Se recomienda adoptar prácticas sostenibles en la gestión de residuos y la
                producción de alimentos, como la reciclaje, la compostaje, y
                la agricultura sostenible.</p>
        </div>
    </div>
{{/partial}}

{{>miembro-home-iniciado-sesion.hbs}}