{{#partial "navbar-options"}}
    <a class="seccion" href="/recomendaciones">Recomendaciones</a>
    <a class="seccion" href="/home/vinculacion">Solicitar vinculacion</a>
    <a class="seccion" href="/home/trayectos">Trayectos</a>
{{/partial}}

{{#partial "usuario"}}
    {{usuario}}
{{/partial}}
{{#partial "content"}}
    <div id="tarjetas">
        <div class="tarjetaRecomendacion">
            <h3>in reprehenderit</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.</p>
        </div>
        <div class="tarjetaRecomendacion">
            <h3>agittis ali</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Nisi est sit amet facilisis magna etiam
            tempor orci. Convallis tellus id interdum velit laoreet. Sagittis nisl rhoncus mattis
            rhoncus urna. Vitae congue mauris rhoncus aenean vel elit scelerisque mauris. Nam at
            lectus urna duis convallis convallis tellus.</p>
        </div>
        <div class="tarjetaRecomendacion">
            <h3>m viverra aliquet.</h3>
            <p>Vitae suscipit tellus mauris a diam maecenas sed enim ut.
             Eu tincidunt tortor aliquam nulla facilisi cras fermentum odio.
             Sit amet cursus sit amet dictum sit amet justo.
             Sed elementum tempus egestas sed. Neque laoreet
             suspendisse interdum consectetur libero id faucibus.
             Diam maecenas sed enim ut sem viverra aliquet.
             Purus sit amet luctus venenatis lectus.</p>
        </div>
        <div class="tarjetaRecomendacion">
            <h3>estie nunc </h3>
            <p>Tempus egestas sed sed risus pretium quam vulputate.
            Mi quis hendrerit dolor magna eget est lorem ipsum dolor.
            Tortor vitae purus faucibus ornare suspendisse sed nisi lacus.
            Mauris ultrices eros in cursus turpis. Arcu odio ut sem nulla.
            Tellus molestie nunc non blandit massa enim nec dui.
            Feugiat nibh sed pulvinar proin gravida hendrerit.
            Mauris commodo quis imperdiet massa tincidunt nunc pulvinar.
            Turpis egestas pretium aenean pharetra magna ac.</p>
        </div>
    </div>
{{/partial}}

{{>home-iniciado-sesion.hbs}}