<!DOCTYPE html>
<html>
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <title>Error 404: Página no encontrada</title>
</head>
<body class="bodyError">
    <h1 class="h1Error">Error 404: Página no encontrada</h1>
    <p class="pError">Lo sentimos, la página que estás buscando no se ha encontrado en nuestro sitio.</p>
    <img class="imgError" src="/jhon.gif" alt="Imagen de error 404">
    <div class="divError">
    <p><button class="buttonError"><a href="/">Volver a la página principal</a></button></p>
    </div>
    <footer class="flex-center">
        <div class="container">
            <ul class="social-icons">
                <li><a href="#"><i style="color: darkgray" class="fab fa-whatsapp"></i></a></li>
                <li><a href="#"><i style="color: darkgray" class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i style="color: darkgray" class="fab fa-twitter"></i></a></li>
            </ul>
            <p class="pFooter">Nuestra empresa se compromete a proteger el medio ambiente y a promover prácticas sostenibles en todas nuestras actividades.</p>
            <p class="copyright">Copyright 2022 Impacto Ambiental S.A. Todos los derechos reservados | <a class="aFooter" href="#">Política de privacidad</a> | <a class="aFooter" href="#">Términos y condiciones de uso</a></p>
        </div>
    </footer>
</body>
</html>