{{#partial "navbar-options"}}
    <a class="seccion" href="/home/vinculaciones">Gestionar Vinculaciones</a>
    <a class="seccion" href="/home/calculadora-hc">Calculadora Hc</a>
    <a class="seccion" href="/home/mediciones">Registrar Mediciones</a>
{{/partial}}

{{#partial "content"}}
   <h2>Cargar Archivo Mediciones</h2>
   <div id="main-section">
       <form enctype="multipart/form-data" method="post" id="id-form">
           <div>
               <p>Aceptados: .CSV</p>
               <label for="fileSelect">Arrastre o haga click para subir:</label>
               <input class="white-button-drop" id="fileSelect" type="file"
                      name="uploaded_file"
                      accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"/>
           </div>
           <div id="below-buttons">
               <div id="atras"><a class="white-button" href="/home/mediciones">Atrás</a></div>
               <input id="ingresar" class="white-button" value="Ingresar" type="submit" form="id-form">
           </div>
       </form>
   </div>
{{/partial}}

{{>home-iniciado-sesion.hbs}}