{{#partial "usuario"}}
    <p>{{usuario}}</p>
{{/partial}}


{{#partial "content"}}
    <h2>Indicador de Huella de Carbono promedio por miembro en un sector</h2>
    <div class="divArreglo flex-row gap">
        {{#each sectores}}
            <div class="container-hc flex-clm">
                <div class="hc-mensual flex-clm box-shadow">
                    <h3>Sector: <span class="green">{{nombre}}</span></h3>
                    <h3>HC promedio por miembro: <span class="green">{{promedioHc}}</span></h3>
                </div>
            </div>
        {{/each}}
    </div>
{{/partial}}

{{>organizacion-home-iniciado-sesion.hbs}}