{{#partial "usuario"}}
    <h6>{{usuario}}</h6>
{{/partial}}

{{#partial "content"}}
   <h2>Registrar Mediciones</h2>
   <div id="main-section">
       <form id="acciones" >
               <button type="submit" form="acciones" formaction="/home/mediciones/perse" formmethod="get"
                       class="btn-consulta">
                   Cargar medición
               </button>
               <button type="submit" form="acciones" formaction="/home/mediciones/archivo" formmethod="get"
                       class="btn-consulta">
                   Cargar CSV
               </button>

       </form>
   </div>
{{/partial}}

{{>organizacion-home-iniciado-sesion.hbs}}