{{#partial "content"}}
    <h2>HC TOTAL</h2>
    <div class="container-hc flex-clm">
        <div class="hc-mensual flex-clm">
            <h3>TOTAL <span class="green">{{valorhc}}</span></h3>
        </div>
    </div>





{{/partial}}

{{>organizacion-home-iniciado-sesion.hbs}}