{{#partial "navbar-options"}}
    <a class="seccion" href="/recomendaciones">Recomendaciones</a>
    <a class="seccion" href="/home/vinculacion">Solicitar vinculacion</a>
    <a class="seccion" href="/home/trayectos">Trayectos</a>
{{/partial}}

{{#partial "content"}}
    <h2 class="titulo">Registrar trayecto</h2>
        <div class="contenedorTrayecto borde">
            <label for="nombreTrayecto">
                <input type="text" id="nombreTrayecto" placeholder="Ingrese nombre del trayecto">
            </label>
            <div class="contenedorTrayecto">
                <h3>Tramos</h3>
                <div class="divArreglo3">
                    <ul class="listaNoScroll">
                        <li>
                            <div class="tarjeta">
                            <p>transporte: XXXX</p>
                            <p>punto de partida: XXXX</p>
                            <p>punto de llegada: XXXX</p>
                             </div>
                        </li>
                        <li>
                            <div class="tarjeta">
                            <p>transporte: XXXX</p>
                            <p>punto de partida: XXXX</p>
                            <p>punto de llegada: XXXX</p>
                            </div>
                        </li>
                        <li>
                            <div class="tarjeta">
                            <p>transporte: XXXX</p>
                            <p>punto de partida: XXXX</p>
                            <p>punto de llegada: XXXX</p>
                            </div>
                        </li>
                        <li>
                            <div class="tarjeta">
                            <p>transporte: XXXX</p>
                            <p>punto de partida: XXXX</p>
                            <p>punto de llegada: XXXX</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div>
                    <button>
                        Delete
                    </button>
                    <button>
                        Add tramo
                    </button>
                </div>
            </div>
        </div>
        <div class="botonesContainer">
            <button class="white-button2">Cancelar</button>
            <button class="white-button2">Registrar</button>
        </div>
    </div>
{{/partial}}

{{>home-iniciado-sesion.hbs}}