{{#partial "content"}}
    <h2>Iniciar Sesion</h2>
        <div id="main-section">
          <form>
            <div>
              <label for="primer-input">Usuario</label>
              <input id="primer-input" type="text" name="nombre">
            </div>
            <div>
              <label for="segundo-input">Contraseña</label>
              <input id="segundo-input" type="password" name="password">
            </div>
            <button type="summit">Iniciar</button>
          </form>
        </div>
{{/partial}}

{{>home-sin-sesion.hbs}}