{{#partial "usuario"}}
    {{usuario}}
{{/partial}}

{{#partial "content"}}
    <h2>Gestion de Trayectos</h2>
    <div class="below-buttons column" >
        <a class="option-button" href="/registrarTrayecto">
            Registrar trayecto
        </a>
        <a class="option-button" href="TODO">
            Compartir trayecto
        </a>
        <a class="option-button" href="TODO">
            Eliminar trayecto
        </a>
    </div>
{{/partial}}

{{>home-iniciado-sesion.hbs}}