a:active {
    color: black;
  }
  
  html {
    background-color: #E6F2EB;
  }
  
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
  }
  
  h1 {
    font-family: Lato-sa, sans-serif;
  }
  
  nav {
    display: flex;
    background-color: #2FCC70;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
  }
  
  a {
    display: flex;
    color: black;
    gap: 30px;
    cursor: pointer;
    text-decoration: none;
  }
  
  #main-section {
    background-color: #E6F2EB;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    width: 100%;
    flex-grow: 1;
  }
  
  h2 {
    font-size: 40px;
    padding: 40px;
    text-align: center;
    margin: 0;
    background-color: #E6F2EB;
  }

  .titulo {
    font-size: 40px;
    padding: 10px 40px;
    text-align: center;
    margin: 0;
    background-color: #E6F2EB;
  }
  
  footer {
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    background-color: #2FCC70;
    height: 50px;
    margin-top: auto;
  }
  
  img {
    width: 50px;
    height: 50px;
  }
  
  .white-button {
    padding: 5px;
    background-color: white;
    cursor: pointer;
  }
  
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    height: 20px;
  }
  
  form div {
    width: 100%;
  }
  
  form div label {
    font-size: 25px;
    font-weight: bold;
    display: block;
  }

  .volver {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }

  .impactoMiembro {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }

  .divArreglo {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .claseForm{
    margin-bottom: 10px;
  }

  .white-button2{
    display:flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }

  .contenedorTrayecto{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 500px;
    padding: 5px;
  }

  .borde{
    border: 1px solid black;
  }

  .listaNoScroll{
    list-style-type: none;
    height: 30vh;
    overflow-y: scroll;
    padding-left: 0;
    width: 100%;
    padding: 10px;
    border: 1px solid black;
  }

  .tarjeta{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 5px 10px;
    margin-bottom: 5px;
  }

  .tarjeta *{
    margin: 0;
    padding-bottom: 3px;
  }

  .botonesContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
  }

  h3{
    margin-bottom: 0;
  }

  .divArreglo3{
    width: 70%;
  }